/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  background: grey;
  margin: 0;
  padding: 0;
}

a {
  color: #3887c2;
  text-decoration: none;
  &:visited {
    color: #3887c2;
  }

  &:hover, &:active {
    color: #1f4866;
    text-decoration: none;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: fixed;
  height: 45px;
  top: 0;
  left: 0;
  background-color: #eee;
  width: 100%;
  border-bottom: 1px solid #ccc;

  div.logo, a {
    float: left;
    font-size: larger;
    padding: 10px 15px;
    line-height: 24px
  }

  div.logo {
    //text-shadow: 0 2px black;
    background-color: #1f4866;
    color: white;
    font-style: italic;
  }

  a {
    text-decoration: none;
    display: block;
    border-right: 1px solid #ccc;
    background: #fafafa;

    &:hover {
      background: white;
    }
  }
}

.content {
  padding: 55px 25px 25px 25px;
  background: white;
}

table.transactions {
  width: 100%;
}

.money.negative {
  color: #e73535;
}

.flexible {
  display: flex;

  .left-side {
    flex-shrink: 1;
    margin-right: 10px;
  }

  .right-side {
    flex-grow: 1;
  }
}

.pagination {
  text-align: right;
}

th {
  text-align: left;
}

.winter {
  background-color: #c3e8f1;
}

.autumn {
  background-color: #efcfc0;
}

.summer {
  background-color: #efe9c0;
}

.spring {
  background-color: #c8e5b6;
}

.year-end td {
  background-color: #eee;
  font-weight: bold;
  border-bottom: 12px solid white;
}
