<h1>Transactions</h1>

Total: <%= @transactions.total_count %>

<%= paginate @transactions %>

<%= render partial: 'transactions/table', locals: { transactions: @transactions } %>

<br>

<div class="page-links">
  <%= link_to 'Import Transactions', import_transactions_path %>
</div>
